.post-container{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    border:2px solid rgba(0, 0, 0, 0.674);
    border-radius:4px;
   min-width: 200px;
    margin-left:35%;
    margin-right:35%;
    background-color: antiquewhite;
    font-size:large;
}

label{
    font-size:large;
    display:flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-top:5px;
    padding-bottom: 7px;
    padding-right: 5px;
}

.desc-label{
    min-height:100px;
    display:inline-block;

}

.desc-input{
    height : 100px;
    word-wrap:break-word;
}


